/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	font-family: 
}

.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.navbar-inverse {
   	background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-text {
    color: white;
    font-size: 18px;
}

#sumo{
	color: white;
	padding-top: 18em;
}

.btn-primary {
    color: #fff;
    background-color:  #41521F;
    border-color: #41521F;
}
